.header {
  grid-area: h;
  background-color: green;
}

.header img {
  width: 20px;
}

.nav {
  grid-area: n;
  background-color: burlywood;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}